.a-text-primary {
  font-size: 20px;
  font-weight: 500;
}
.a-text-secondary {
  font-size: 16px;
}
.a-h3-text {
  font-size: 20px;
  font-weight: 700;
}
.m-each-action{
  border: 2px solid #f777e1;
  border-radius: 5px;
}
