<mat-card class="m-home-card">

  <div class="m-home-card-content">
    <div *ngIf="!isDeactiveNextStep">
      <div class="p-10">
        <span>
          {{"GENERAL.STAGE_COMPLETE" | translate}}
        </span>
      </div>
      <hr>
      <div class="p-10">
        <span>
          {{nightReport}}
        </span>
      </div>
      <hr>
      <div>
        <span>
          {{bodyguardInquiry}}
        </span>
      </div>


      <button mat-raised-button color="primary" (click)="showNightReport()" [disabled]="isDeactiveNextStep">
        {{"NIGHT_PHASE.NIGHT_REPORT" | translate}}
      </button>
    </div>

    <div *ngIf="isDeactiveNextStep">
      <span>
        {{"GENERAL.SELECT_NAME" | translate}}:
      </span>
      <mat-form-field class="" appearance="outline" matRipple>
        <mat-select [(ngModel)]="selectedPlayer" (selectionChange)="changePlayerComboBox($event)">
          <mat-option *ngFor="let player of aliveAndNotSelectedPlayers" [value]="player">
            {{player.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="m-each-action p-5 m-5" *ngIf="selectedPlayer.id">
        <div class="m-each-action-title">
          <span class="a-h3-text"><bdi>{{happenings[selectedPlayer.role.value].title | translate}}</bdi></span>
        </div>
        <div class="m-each-action-content">
          <mat-form-field class="" appearance="outline" matRipple
          *ngIf="happenings[selectedPlayer.role.value].type === nightHappeningTypeEnum.choosePlayer">
            <mat-select [(ngModel)]="happenings[selectedPlayer.role.value].playerId"
              (selectionChange)="changeActionPlayerComboBox($event)">
              <mat-option [value]="">{{"NIGHT_PHASE.NO_BODY" | translate}}</mat-option>
              <mat-option *ngFor="let player of alivePlayers" [value]="player.id">
                {{player.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-radio-group [(ngModel)]="happenings[selectedPlayer.role.value].choose"
            *ngIf="happenings[selectedPlayer.role.value].type === nightHappeningTypeEnum.yesOrNo">
            <mat-radio-button [value]="true">
              {{"GENERAL.YES" | translate}}
            </mat-radio-button>
            <mat-radio-button [value]="false">
              {{"GENERAL.NO" | translate}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="m-20">
            <span>
              {{actionReport}}
            </span>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="actionFinished()">
          <span>
            {{"GENERAL.MY_ACTION_FINISHED" | translate}}
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="m-home-card-footer">
    <div>
      <button mat-raised-button color="primary" (click)="goToPrevious()">
        {{"GENERAL.PREV_STEP" | translate}}
      </button>
      <button mat-raised-button color="primary" (click)="saveAndGoToNext()" [disabled]="isDeactiveNextStep">
        {{"GENERAL.NEXT_STEP" | translate}}
      </button>
    </div>
  </div>

</mat-card>
