<mat-card class="m-home-card">

  <div>
    {{"ASSIGN_ROLES.EQUAL_ROLES_ASSIGN_TO_PLAYERS" | translate}} ({{players.length}})
  </div>

  <div class="m-home-card-content">
    <div *ngFor="let roleByCount of rolesByCount">
      {{"ROLES."+roleByCount.role.name.toUpperCase() | translate}}
      <mat-form-field class="" appearance="outline" matRipple>
        <mat-select [(ngModel)]="roleByCount.count" (selectionChange)="changeRoleComboBox()">
          <mat-option *ngFor="let number of rolesCount" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="m-home-card-footer">
    <div>
      <button mat-raised-button color="primary" (click)="goToPrevious()">
        {{"GENERAL.PREV_STEP" | translate}}
      </button>
      <button mat-raised-button color="primary" (click)="saveAndGoToNext()" [disabled]="isDeactiveNextStep">
        {{"GENERAL.NEXT_STEP" | translate}}
      </button>
    </div>
  </div>

</mat-card>
