<mat-card class="m-page-card">

  <div class="m-page-card-content">
    <div>
      {{"ASSIGN_ROLES.EQUAL_ROLES_ASSIGN_TO_PLAYERS" | translate}} ({{players.length}})
    </div>

    <div *ngFor="let roleByCount of rolesByCount" class="mv-20">
      <mat-form-field class="a-simple-input mr-10" appearance="outline" matRipple>
        <mat-select [(ngModel)]="roleByCount.count" (selectionChange)="changeRoleComboBox()">
          <mat-option *ngFor="let number of rolesCount" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        {{"ROLES."+roleByCount.role.name.toUpperCase() | translate}}
      </span>
    </div>
  </div>

  <div class="m-page-card-footer d-flex align-items-center">
    <div  class="mr-20">
      <button mat-raised-button color="primary" (click)="goToPrevious()">
        {{"GENERAL.PREV_STEP" | translate}}
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="saveAndGoToNext()" [disabled]="isDeactiveNextStep">
      {{"GENERAL.NEXT_STEP" | translate}}
    </button>
  </div>

</mat-card>
